.nav {
  background: #555;
  font-size: 1.5em;
}
.nav a {
  color: #fff;
}
.tabs {
  padding-top: 1rem;
}
.tabs a {
  color: #222;
  text-decoration: none;
  font-size: 1.2em;
  display: inline-block;
  margin-right: 2rem;
  background: #eee;
  padding: 1rem;
  border: 2px solid #bbb;
  border-bottom: none;
}
.tabs a:hover {
  color: #3c6ebb;
}
.side-nav {
  background: #ddd;
  height: 90%;
}
.service-box {
  border: 2px solid #ddd;
  border-radius: 4px;
  margin: 3px;
  padding-left: 1rem;
  min-height: 18rem;
}
/* Feeds */
.feed-list {
  overflow: scroll;
  height: 80%;
  background: yellow;
}